$brand-primary: #F23818;
$brand-green: #2CC990;

$navbar-default-link-color: $brand-primary;
$navbar-default-bg: #ffffff;
@import 'bootstrap';

.btn-signup {
  font-size: 1.5em;
  padding: 1.0em 2em;
}

.navbar-brand {
  padding: 10px;
}

.navbar-logo {
  height: 25px;
  width: 125px;
}

.btn {
  border-bottom-width: 3px;
}

.btn:focus {
  outline: none;
}

.white-space {
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.pricing-panel {
  border: 1px solid #efefef;
  border-bottom: 3px solid #efefef;
  border-radius: 3px;
  padding: 20px 50px;
  margin-bottom: 50px;

  h3 {
    margin-top: 0px;
    border-bottom: 3px solid #efefef;
    display: inline-block;
    padding-bottom: 3px;
  }

  .price {
    margin: 20px 0px;
    font-size: 30px;

    small {
      font-size: 12px;
    }
  }

  .btn {
    margin-top: 20px;
  }

  &.pick {
  }
}

article {
  font-family: Georgia,Times,"Times New Roman",serif;
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  border: none;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}

footer {
  background: #f2f2f2;
  color: #999;
  padding: 50px;

  a {
    display: block;
    color: #999;
    font-size: 16px;
    padding: 5px 0px;
  }

  a:hover {
    color: #666;
    text-decoration: none;
  }
}

