---
title: Erraroo - Capture Stack Traces For Ember.js Apps
---

<div class="row text-center">
  <div class="col-xs-12">
    <h1>Find every error in your app</h1>
    <p class="lead">Stack traces and alertinge for ember.js apps</p>
    <br>
    <a href="https://app.erraroo.com/signup" class="btn btn-success btn-signup">
      Start for Free
    </a>
  </div>
</div>

<hr class="white-space">
<div class="row text-center">
  <div class="col-xs-12 col-sm-4">
    <h2>Polite Notifcations</h2>
    <p>Timely notifications of new errors or ones that you thought you fixed ;)</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h2>Debug Easier</h2>
    <p>With source maps tracking down the root cause of an error is a breeze.</p>
  </div>
  <div class="col-xs-12 col-sm-4">
    <h2>Open Source</h2>
    <p>All warm and fuzzies of a hosted service, with all the warm and fuzzies of an open source project.</p>
  </div>
</div>

<hr class="white-space">
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-offset-3">
    <blockquote>
      erraroo is an absolutely essential service for any team that is building an ember.js application.
      <cite>Benjamin Rhodes (creator)</cite>
    </blockquote>
  </div>
</div>

<hr class="white-space">

<a name="pricing"></a>
<h1 class="lead text-center">All plans start with a 14 day free trial.</h1>

<div class="row text-center">
  <div class="col-xs-12 col-sm-4">
    <div class="pricing-panel">
      <h3>Small</h3>
      <p class="price">$29 <small class="text-muted">/ month</small></p>
      <p>3 Projects</p>
      <p>7 Day History</p>
      <p>20 Events per minute</p>
      <a class="btn btn-default" href="https://app.erraroo.com/signup?plan=small">Start Free</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="pricing-panel pick">
      <h3>Pro</h3>
      <p class="price">$89 <small class="text-muted">/ month</small></p>
      <p>10 Projects</p>
      <p>14 Day History</p>
      <p>40 Events per minute</p>
      <a class="btn btn-default btn-lg btn-success" href="https://app.erraroo.com/signup?plan=pro">Start Free</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="pricing-panel">
      <h3>Enterprise</h3>
      <p class="price">$199 <small class="text-muted">/ month</small></p>
      <p>50 Projects</p>
      <p>30 Day History</p>
      <p>120 Events per minute</p>
      <a class="btn btn-default" href="https://app.erraroo.com/signup?plan=enterprise">Start Free</a>
    </div>
  </div>
</div>
