---
title: Erraroo - Capture Stack Traces For Ember.js Apps
---

<h1>Stack Traces For Ember.js Apps</h1>
<p class="lead">Coming soon to an internet near you (probably this one)</p>

<%= image_tag "http://placehold.it/500x300", alt: 'Product Screen Shot' %>
